@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: only light;
}

body {
  @apply bg-[#2f3b1f] text-[#1f1f1f] antialiased font-sans;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(47, 59, 31, 0.6);
  border-radius: 9999px;
}
